@main-color: #f25b48;
/**
* tabbar
*/
@tabbar-text-active-color: @main-color;

/**
* Header
*/
@header-background-color: #ffffff;
@header-title-color: @main-color;
@header-text-color: @main-color;
@header-arrow-color: @main-color;
